<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework 2</title>
</head>
<body>
<h3>Task 1:</h3>
    <li><a href="http://127.0.0.1:8000/home/">http://127.0.0.1:8000/home/</a></li>
    <li><a href="http://127.0.0.1:8000/book/someTitle/">http://127.0.0.1:8000/book/someTitle/</a></li>
    <li><a href="http://127.0.0.1:8000/lesson_2/url_remainder/">http://127.0.0.1:8000/lesson_2/url_remainder/</a></li>

<hr>

<h3>Task 2:</h3>
    <li><a href="http://127.0.0.1:8000/index/">http://127.0.0.1:8000/index/</a></li>
    <li><a href="http://127.0.0.1:8000/bio/userName/">http://127.0.0.1:8000/bio/userName/</a></li>
    <li><a href="http://127.0.0.1:8000/lesson_1/url_remainder/">http://127.0.0.1:8000/lesson_1/url_remainder/</a></li>
<hr>

<h3>Task 3:</h3>
    <li><a href="http://127.0.0.1:8000/weather/Lodz/">http://127.0.0.1:8000/weather/Lodz/</a></li>
    <li><a href="http://127.0.0.1:8000/weather/Dallas/">http://127.0.0.1:8000/weather/Dallas/</a></li>
    <li><a href="http://127.0.0.1:8000/weather/Kyiv/">http://127.0.0.1:8000/weather/Kyiv/</a></li>
<li><a href="http://127.0.0.1:8000/weather/UnknownCity/">http://127.0.0.1:8000/weather/UnknownCity/</a></li>

</body>
</html>