<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
    <h1>Tasks:</h1>

    <h3>Task 1</h3>
    <p>Є наступний список:</p>
    <p>lets_do_it = [{'priority': 100, 'task': 'Скласти перелік справ'},
            {'priority': 150, 'task': 'Вивчати Django'},
            {'priority': 1, 'task': 'Подумати про сенс життя'}] </p>
    <p> Вивести його у поданні. </p>
    <p></p>
    <a href="http://127.0.0.1:8000/response_types/json/">http://127.0.0.1:8000/response_types/json/</a>
    <hr>

    <h3>Task 2</h3>
    <p> Скласти структуру сайту за допомогою уявлень так, щоб у вас була головна сторінка з вітанням та
       посиланнями на інші сторінки сайту:</p>
    <p>Ласкаво просимо до всесвіту зоряних воєн! Виберіть сторінку:</p>
    <h4> Люк Лея Хан </h4>
    <p></p>
    <h4>Сторінка Люка: </h4>
    <p>Люк Скайуокер — один із головних персонажів всесвіту «Зоряних війн», джедай, син сенатора з Набу Падме
       Амідали Наберрі та лицаря-джеда Енакіна Скайуокера. </p>
    <h4>Сторінка Леї: </h4>
    <p>Лея Органа — дочка лицаря-джеда Енакіна Скайуокера та сенатора Падме Амідали Наберрі. </p>
    <h4>Сторінка Хана: </h4>
    <p>Хан. Соло — пілот космічного корабля «Тисячолітній сокіл», його бортмеханіком та другим пілотом є вуки
       на ім'я Чубакка. </p>
    <p></p>
    <a href="http://127.0.0.1:8000/star_wars/">http://127.0.0.1:8000/star_wars/</a>
    <hr>


    <h3>Task 3:</h3>
    <p>Створити відображення та свій HTTPResponse, який би надсилав користувачам файл із текстом «Ось ваш файл»
       та кодом 227. </p>
    <p></p>
    <a href="http://127.0.0.1:8000/get_file/">http://127.0.0.1:8000/get_file/</a>
    <hr>

    <h3>Task 4:</h3>
    <p> Скласти відображення, які будуть використовувати різні типи
        відповідей: файл, json, html та текст, Реалізувати кілька Function.</p>
    <p></p>
    <a href="http://127.0.0.1:8000/response_types/http/">http://127.0.0.1:8000/response_types/http/</a>
    <p></p>
    <a href="http://127.0.0.1:8000/response_types/json/">http://127.0.0.1:8000/response_types/json/</a>
    <p></p>
    <a href="http://127.0.0.1:8000/response_types/file/">http://127.0.0.1:8000/response_types/file/</a>
    <hr>

    <h3>Task 5</h3>
    <p>Є наступний список</p>
    <p>lets_do_it = [{'priority': 100, 'task': 'Скласти перелік справ'},
      {'priority': 150, 'task': 'Вивчати Django'},
      {'priority': 1, 'task': 'Подумати про сенс життя'}] </p>
    <p> Виведіть його Шаблоном та Фільтром у порядку спаду priority. </p>
    <p></p>
    <a href="http://127.0.0.1:8000/to_do_list/">http://127.0.0.1:8000/to_do_list/</a>
    <hr>

    <h3>Task 6</h3>
    <p>Складіть шаблон і використайте його в представленні, яке виводило б список словників, що зберігає інформацію: </p>
    <p>dune_data = [{'name': 'Shaddam IV', 'surname': 'Corrino'},
      {'name': 'Paul', 'surname': 'Atreides'},
      {'name': 'Franklin-Patrick', 'surname': 'Herbert'}] </p>
    <p>З допомогою тегу for у вигляді списку: {name} {surname}</p>
    <p></p>
    <a href="http://127.0.0.1:8000/dune/">http://127.0.0.1:8000/dune/</a>
    <hr>

    <h3>Task 7</h3>
    <p>Є список: </p>
    <p>question_list = [{'id': 1, 'question_text': 'У чому сенс життя?"},</p>
    <p>{'id': 2, 'question_text': 'Що первинне: дух чи матерія?"},</p>
    <p>{'id': 3, 'question_text': 'Чи існує свобода волі?"}]</p>
    <p>Потрібно скласти шаблон, який перевіряє значення змінної latest_question_list,
       і якщо цей список не порожній, то виводить його елементи question у вигляді HTML-списку,
       де вказується посилання на "/polls/int:question_id/" з текстом question.question_text.
       Якщо список порожній, зображається рядок «Список запитань порожній». </p>
    <p></p>
    <a href="http://127.0.0.1:8000/questions/">http://127.0.0.1:8000/questions/</a>
    <hr>

    <p></p>
    <p></p>
    <p></p>

</body>
</html>
