header{
   background: #236AB9;
}

ul{
    list-style: none;
    marin: 0;
    padding: 15px;
}

a{
    font-size: 25px;
    padding: 20px;
    color: #FC7307;
    text-decoration: none;
}

a:hover{
  color: #FFCF48;
  text-decoration: none;
}

li{
   display: inline;
}

p{
    color: #341C09;
    font-size: 20px;
}

h3{
    color: #341C09;
}
