<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HW5 Forms</title>
</head>
<body>
    <fieldset>
    <legend><h3>Admin:</h3> </legend>
    <p>Django administration:
    <a href="http://127.0.0.1:8000/admin/">http://127.0.0.1:8000/admin/</a></p>
    </fieldset>

    <h1>Tasks:</h1>

    <fieldset>
    <legend><h3>Task2:</h3> </legend>
    <h4>Створити кілька форм авторизації користувача.</h4>
        <ul>
            <li> Форма 1:
            <a href="http://127.0.0.1:8000/task2/authorization_form/">http://127.0.0.1:8000/task2/authorization_form/</a></li>
            <li> Форма 2:
            <a href="http://127.0.0.1:8000/task2/user_authorization_form/">http://127.0.0.1:8000/task2/user_authorization_form/</a></li>
        </ul>
    </fieldset>

    <fieldset>
    <legend><h3>Task3:</h3> </legend>
        <h4>Знайти інформацію про ModelForm і створити кілька таких форм.</h4>
        <ul>
            <li> У Task2 була викокистана форма UserAuthorizationForm яка успадковується від forms.ModelForm (Форма 2).</li>
            <li>Форма додавання статтей:
            <a href="http://127.0.0.1:8000/task3/add_article/">http://127.0.0.1:8000/task3/add_article/</a></li>
            <li>Посилання на додану статтю (article_slug (у посиланні вкінці) - визначається у формі користувачем):
            <a href="http://127.0.0.1:8000/task3/article/article_slug/">http://127.0.0.1:8000/task3/article/aticle_slug/</a> Щоб побачити певну статтю, її треба створити через форму.</li>
        </ul>
    </fieldset>

        <fieldset>
    <legend><h3>Task4:</h3> </legend>
    <h4>Створити форму для надсилання відгуку на продукт для інтернет-магазину. Форма повинна вміщувати:
            <ul>
                <li> файл із зображенням;</li>
                <li> пошта користувача;</li>
                <li>опис;</li>
                <li>вибір оцінки;</li>
                <li>негативний або позитивний відгук;</li>
                <li>номер телефону.</li>
            </ul>
    </h4>

            <ul>
                <li>Форма додавання відгуку:
                <a href="http://127.0.0.1:8000/task4/add_review/">http://127.0.0.1:8000/task4/add_review/</a></li>
                <li>Посилання на доданий відгук (review_pk (у посиланні вкінці) - це pk відгуку):
                <a href="http://127.0.0.1:8000/task4/review/review_pk/">http://127.0.0.1:8000/task4/review/review_pk/</a> Щоб побачити відгук, його треба створити через форму.</li>
            </ul>
    </fieldset>

</body>
</html>