{% extends 'layout.html' %}

{% block title %} lesson_1_1 {% endblock %}

{% block content %}
<h1> Tasks 2 and 3 </h1>

<li> Task 2: Create a new app lesson 1_1 </li>
<li> Task 3: Create the 'Hello world' HTML page at http://localhost/lesson_1_1/ </li>
    <p><a href="http://localhost:8000/lesson_1_1/">http://localhost:8000/lesson_1_1/</a> </p>
    <p><a href="http://127.0.0.1:8000/lesson_1_1/">http://127.0.0.1:8000/lesson_1_1/</a> </p>
<hr>

<h2> Hello world </h2>
<p>Django is one of the largest Python frameworks</p>
<hr>
{% endblock %}
